{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Proyecto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('artista_listar') }}">Artistas<span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('banda_listar') }}">Bandas<span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('cancion_listar') }}">Canciones<span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('disco_listar') }}">Discos<span class="sr-only">(actual)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
